body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
header, footer {
    max-width: 100%;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #97b404;
    justify-items: center;
    color: black;
}

 

main {
    background-color: #cfc4c4;
    padding-top: 3px;
    padding-bottom: 5px;
}


.color-higlight {
    color: red;
  }

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
     position: absolute;
    top: 1rem;
    right: 2rem;
}
    
    
#menu::before {
    content: "☰";
      
}
    
#menu.open::before {
    content: "❌";
      
}

.nav-container  {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}
        
.nav-container a {
    display: none;
    color: #fff;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    background-color: black;
}
        
        
.nav-container a:hover,
     .nav-container a.active {
         background-color: #5e5a5a;
                    
}
        

.open a {
    display: block;
}


#title {
    justify-self: center;
}

.page-logo {
    width: 10%;
    position: absolute;
    top: 50px;
    left: 50px;
}


.sociallinks {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;   
}

.sociallinks nav {
    width: 1px;
    justify-content: center;
    align-items: center;    
}

.sociallinks a {
    margin: 3px;
}
    
.resources img {
    padding: 4px;
    background-color: black;
    }

.resources img:hover,
        .resources img.active {
            background-color: #5e5a5a;
            
        }