
@media screen and (min-width: 850px) {  
  
   
    header, main, footer {
        width: 90%;
    }

    main {
        justify-self: center;
        justify-items: center;
    
    }


    .nav-container {
        list-style-type: none;
        background-color: black;
        margin: 0 auto;
        max-width: 800px;
    }

    .nav-container a {
        padding: 1rem;
        text-decoration: none;
        font-size: large;
    }

    
    .nav-container a:hover {
        border: 1px solid #fff;
        background-color: gray;
        color: #333;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

   

	.nav-container {
		flex-direction: row;
	}

	.nav-container a {
		display: block;
		flex: 1 1 100%;
	}

    .page-logo {
        width: 9%;
        position: absolute;
        top: 50px;
        left: 185px;
    }

      
    
}