

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

header, footer {
  max-width: 100%;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #59a0ec;
}


#menu {
font-size: 1.5rem;
border: 0;
background: none;
color: #000;
 position: absolute;
top: 1rem;
right: 2rem;
}


#menu::before {
content: "☰";
  
}

#menu.open::before {
content: "❌";
  
}

.nav-container  {
display: flex;
flex-direction: column;
list-style: none;
background-color: #333;
color: #fff;
}

.nav-container a {
display: none;
color: #fff;
padding: 4px;
text-align: center;
text-decoration: none;
background-color: black;
}


.nav-container a:hover,
        .nav-container a.active {
            background-color: #5e5a5a;
            
        }

.container {
  justify-self: center;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
display: block;
}

.active::before {
content: "📍";  /* just a wayfinding symbol for the user */
}

h2 {
  text-align: center;
}



.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 410px;
  height: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card img {
  width: 400px;
  height: 250px;
  border-radius: 8px;
}

.card-content {
  padding: 16px;
}
.card-content h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.card-content p {
  margin: 8px 0;
  color: navy;
  font-size: 14px;
}


footer {
  justify-items: center;
}
