@media screen and (min-width: 960px) {
    
    header, footer {
        max-width: 40.3%;
        
    }

    main {
        max-width: 40.3%;
        background-color:  #a0c3cc;
    
        
    }


    .hero {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }


    .data {
        display: block;
        position: absolute;
        width: 400px;
        height: 230px;
        background-color: transparent;
        border: 1px solid #fff;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        top: 22%;
        left: 30%;
    }

    .data:hover {box-shadow: 0 0 50px #03011d;
    }

    .weather:hover {box-shadow: 0 0 50px #333;
    }

    img:hover {box-shadow: none;
    }


    .weather {
        display: block;
        position: absolute;
        width: 400px;
        height: 230px;
        background-color: rgb(0, 0, 0, .5);
        border: 1px solid #fff;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        bottom: 30%;
        right: 30%;
    }

    #h2data {
        
        background-color: rgb(247, 25, 43);
        border-style: outset;
        
    }

    #h2weather {
        background-color: white;
        border-style: outset;
    }


    .info {
        color: white;
    }

    .title {
        font-size: large;
        color: blanchedalmond;
    }

    .infow {
        
        color: blanchedalmond;
    }

    .weather img{
        display: none;
    }

    #h2weather::after{
        content: "⛅";
    }

    #attrism {
        display: none;
    }

    #attrilg {
        font-size: xx-small;
        color: black;
    }

  
}