

@media screen and (min-width: 550px) {
    
    header {
        max-width: 100%;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
    }

  main h2 {
    position: absolute;
    top: 190px;
   
  }

    main {
        max-width: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        justify-items: center;
    }

    body {
        font-family: 'Roboto', sans-serif;  
    }

    nav {
        list-style-type: none;
        background-color: black;
        margin: 0 auto;
        max-width: 800px;
    }

    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        font-size: x-large;
    
    }

    
    nav a:hover {
        border: 1px solid #fff;
        background-color: #eee;
        color: #000;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

   

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
    
    footer {
        max-width: 100%;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: #77ade7;
    }

   
   
}

@media screen and (min-width: 850px) {
    

    main {
        max-width: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        justify-content: center;
    }
   
}

